# Ignore heavy files and build outputs
Codigo_Fuente/*.zip
Codigo_Fuente/target/
Codigo_Fuente/.vscode/
Codigo_Fuente/.idea/
Codigo_Fuente/dependency-reduced-pom.xml
Codigo_Fuente/node_modules/
Codigo_Fuente/build-dist/app-core.exe
Codigo_Fuente/build-dist/clinica_aauca.db
Codigo_Fuente/build-dist/resources/clinica_aauca.db
Codigo_Fuente/dist_ready/ClinicaAauca_Setup.exe
Aplicacion_Ejecutable/
dist_ready/
*.log
.gemini/
